/*Full nav bar*/
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  color: white;
}

/* List Items of navbar */
.navbar-item {
  float: left;
  margin: auto;
}

/* List items of navbar logo */
.navbar-logo {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*Hovering anchor items*/
.navbar-item a:hover {
  background-color: #111;
}
